<!doctype html>
<html>
<head>
    <title>Wildlife camera</title>
    <link href="static/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<main>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Wildlife camera</h1>
                <p class="col-md-8 fs-4">Left the device somewhere and take images when some motion is detected</p>
            </div>
        </div>


        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Useful links</h2>
                    <p>Links to navigate different services</p>
                    <ul id="links"></ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>Kill radio</h2>
                    <p>To have a larger battery life, you can kill the radio communications (WiFi and Bluetooth).
                        The connections will be restored when the device is restarted</p>
                    <button id="kill-btn" class="btn btn-danger" type="button">Kill radio</button>
                </div>
            </div>
        </div>
    </div>

</main>

<script>
    function generateLinks()  {
        let host = window.location.hostname
        let linksContainer = document.getElementById("links");
        let streamingUrl = `http://${host}:8081`
        let liStreaming = document.createElement("li")
        liStreaming.innerHTML = `<a href="${streamingUrl}">Streaming URL</a>`

        let motioneyeuiUrl = `http://${host}:8765`
        let liMotionui = document.createElement("li")
        liMotionui.innerHTML = `<a href="${motioneyeuiUrl}">Motion Eye</a>`


        linksContainer.appendChild(liStreaming)
        linksContainer.appendChild(liMotionui)
    }
    function killBtn() {
        const button = document.getElementById('kill-btn');
        button.addEventListener('click', async _ => {
          alert("You will lose communication!");
          try {
            const response = await fetch('/kill/radio', {
              method: 'post',
            });
          } catch(err) {
            console.error(`Error: ${err}`);
          }
        });
    }

    document.addEventListener('DOMContentLoaded', generateLinks, false);
    document.addEventListener('DOMContentLoaded', killBtn, false);







</script>
</body>
</html>
